---
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const allPosts = Object.values(import.meta.glob("../blog/*.md", { eager: true }));

  const uniqueTags = [...new Set(allPosts.flatMap((post: any) => post.frontmatter.tags ?? []))];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post: any) => post.frontmatter.tags?.includes(tag));
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Layout pageTitle={tag}>
  <div
    class="relative flex flex-row justify-start h-full w-full items-center p-10 md:p:20 lg:p-30 font-sans text-white"
  >
    <p>Posts tagged with {tag}</p>
    <ul>
      {posts.map((post: any) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
    </ul>
  </div>
</Layout>
