<footer
  class="flex flex-col justify-between items-center bg-foot p-10 md:px-30 md:py-20 gap-20 text-stone-dim"
>
  <div
    class="footer-content flex flex-col md:flex-row justify-between items-start md:items-center"
  >
    <div class="branding flex-col w-full p-5 md:w-3/10">
      <img src="/wordmark.png" class="w-2/5" />
      <span class="text-sm"
        >A folk-horror conspiracy TTRPG. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit sed do eiusmod.</span
      >
    </div>
    <div
      class="links flex flex-col md:flex-row gap-5 med:gap-20 text-xs w-full md:w-2/5 justify-between"
    >
      <div class="game-links flex flex-col gap-3">
        <span class="w-full font-display uppercase text-mint tracking-[0.3em]"
          >THE GAME</span
        >
        <ul class="flex flex-col gap-2">
          <li>Overview</li>
          <li>Rules</li>
          <li>Character Sheets</li>
          <li>Stats</li>
        </ul>
      </div>
      <div class="game-links flex flex-col gap-3">
        <span class="w-full font-display uppercase text-mint tracking-[0.3em]"
          >THE GAME</span
        >
        <ul class="flex flex-col gap-2">
          <li>Overview</li>
          <li>Rules</li>
          <li>Character Sheets</li>
          <li>Stats</li>
        </ul>
      </div>
      <div class="game-links flex flex-col gap-3">
        <span class="w-full font-display uppercase text-mint tracking-[0.3em]"
          >THE GAME</span
        >
        <ul class="flex flex-col gap-2">
          <li>Overview</li>
          <li>Rules</li>
          <li>Character Sheets</li>
          <li>Stats</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-end flex flex-row justify-between w-full text-xs">
    <span>© 2026 Witching Hour. All rights reserved.</span>
    <span>Copyright & Trademark  |  Privacy Policy</span>
  </div>
</footer>
