---
const { title, imagelink } = Astro.props;
---

<div class="border-1 border-stone-dim relative flex flex-col justify-center items-center w-full aspect-7/2 md:aspect-6/7 overflow-hidden rounded-[7px] transition-all duration-[250ms] ease-in-out shadow-[inset_0_0_0_1px_rgba(255,255,255,0.9),0_12px_39px_-15px_rgba(0,0,0,1)] hover:-translate-y-1.5 hover:shadow-[0_24px_50px_-18px_rgba(0,0,0,0.9),0_0_40px_-10px_rgba(140,95,214,0.5)]">
  <div
    class="absolute inset-0 bg-[linear-gradient(180deg,rgb(148,117,245)_-14%,rgb(30,30,65)_9%,rgb(30,30,65)_31%,rgb(70,54,119)_100%)] pointer-events-none"
  >
  </div>
  <div
    class="absolute inset-0 bg-cover bg-center opacity-20"
    style={`background-image: url(${imagelink})`}
  >
  </div>
  <span class="relative z-10 text-white font-display tracking-wide text-2xl md:text-4xl px-6 text-center">{title}</span>
</div>



