---
import Layout from "../layouts/Layout.astro";
const { frontmatter } = Astro.props;

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---



<Layout>
		<main>
			<article>
				<div class="hero-image">
				</div>
				<div class="prose">
					<div class="title">
						<div class="date">
							{
								updatedDate && (
									<div class="last-updated-on">
									</div>
								)
							}
						</div>
						<h1>{title}</h1>
						<hr />
					</div>
					<slot />
				</div>
			</article>
		</main>
</Layout>
